<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858989998310-3f31u8mv85qhicpb4c2igdsre6cs7g3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858989998310-3f31u8mv85qhicpb4c2igdsre6cs7g3p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>858989998310-ke8bqcdvnskjn834rscug2idhq6pk26v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAk9Xqz-FV9DldEdRo-WNU-WMoI-90OtxA</string>
	<key>GCM_SENDER_ID</key>
	<string>858989998310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adiChat</string>
	<key>PROJECT_ID</key>
	<string>chatapp-9ad29</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-9ad29.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858989998310:ios:47c6a3314c72d8fa1f8b27</string>
</dict>
</plist>